<div class="top-bar">
    <a routerLink="/" class="logo">
      <h1>Library Management System</h1>
    </a>
  
    <a routerLink="" class="navlink">Dashboard</a>

    <a routerLink="/books" class="navlink">Books</a>
  
    <a routerLink="/" class="navlink">Issued Books</a>
  
    <a routerLink="/account" class="navlink">Account</a>

    <!-- <li class="dropdown">
      <a href="#">Services &#9662;</a>
      <ul class="dropdown-content">
        <li><a href="#">General</a></li>
        <li><a href="#">Programming</a></li>
        <li><a href="#">Novel</a></li>
        <li><a href="#">Fiction</a></li>
        <li><a href="#">Fantasy</a></li>
      </ul>
    </li> -->
    
  
    <a routerLink="/" class="navlink"></a>
  </div>
  
  <!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  -->
  